---
// src/pages/index.astro
import Layout from "../../layout/Layout.astro";
import BlogCard from "../../components/BlogCard.astro";
import Banner from "../../components/Banner.astro";
import { SEO } from "astro-seo";
const pageImage = "/assets/images/logo.png";
const title = "My Sadaqah Online";
const description ="My Sadaqah Online is a platform that connects donors with charitable projects, making it easy to give and track your donations.";
const keywords = "charity, donations, sadaqah, zakat, online giving, humanitarian aid, social impact, community support, fundraising, non-profit organization, philanthropy, global giving, charitable projects, transparent donations, impact-driven giving";
---

<SEO
  title={title}
  description={description}
  canonical=""
  openGraph={{
    basic: {
      title: `${title}`,
      type: "website",
      image: `${pageImage}`,
    },
    optional: {
      description: `${description}`,
    },
  }}
  twitter={{
    creator: "@jonasmerlins1",
  }}
  extend={{
    // extending the default link tags
    link: [{ rel: "icon", href: "/favicon.png" }],
    // extending the default meta tags
    meta: [
      {
        name: "twitter:image",
        content: `${pageImage ? pageImage : "/assets/images/logo.png"}`,
      },
      {
        name: "twitter:title",
        content: `${title}`,
      },
      {
        name: "twitter:description",
        content: `${description}`,
      },
      { name: "keywords", content: `${keywords}` },
    ],
  }}
/>
<Layout title={title} description={description} pageImage={pageImage ? pageImage : "/assets/images/logo.png"}>
  <Banner
  title="Our Latest Blogs"
  description="Explore our latest blogs and articles to stay updated on the latest news and insights."
  image="/assets/images/home.jpg"
/>

  <div class="relative">


    <!-- Featured Articles -->
    <section id="featured" class="py-16 md:py-24 bg-white">
      <div class="container mx-auto px-4">
        <h2 class="text-3xl md:text-4xl font-bold mb-2 text-[#0E173B]">
          Featured Articles
        </h2>
        <div class="w-20 h-1 bg-[#EE0C6E] mb-10"></div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          <BlogCard
            title="My Sadaqah Online Makes Qurbani 2025 Easy & Secure"
            excerpt="It reflects the spirit of sacrifice and compassion, and reminds us to care for those in need."
            date="April 23, 2025"
            image="/assets/images/home.jpg"
            category="Qurbani"
          />
          <BlogCard
            title="Your Sadaqah Can Fund a Water Pump This Year"
            excerpt=" This daily struggle affects health, education, and quality of life—especially for women and children."
            date="April 20, 2025"
            image="/assets/images/home.jpg"
            category="Sadaqah"
          />
          <BlogCard
            title="Make Your Qurbani Count This Year with My Sadaqah Online"
            excerpt="Qurbani is more than just a ritual—it's an act of devotion, compassion, and care for others"
            date="April 18, 2025"
            image="/assets/images/home.jpg"
            category="Sadaqah"
          />
        </div>
      </div>
    </section>
  </div>
</Layout>